{% extends 'base.html' %}
{% load static %}

{% block titulo %}
HomeFilmes Magaflix
{% endblock %}

{% block content %}
<div class="py-24">
    <h1 class="font-semibold text-4xl md:text-5xl text-center">ESSA É A PAGE DE FILMES!!!</h1>
    <br>
    {% for filme in object_list %}
    <hr>
        <a href="{% url 'filme:detalhesfilme' filme.id %}"><p class="text-center">{{filme}}</p></a>
        <p class="text-center">{{filme.descricao}}</p>
    <a href="{% url 'filme:detalhesfilme' filme.id %}"><div class='flex justify-center items-center'><img src="{{filme.thumb.url}}"></div></a>
    {% endfor %}
</div>
{% endblock %}